<%= form_for @user, :action => resource(@user) do %>
<fieldset>
  <legend>Edit Profile</legend>
  <%= text_field :description, :label => "Description" %>
  <%= submit 'Update' %>
</fieldset>
<% end =%>

<h3>Delete your profile</h3>
<%= form_for @user, :action => resource(@user), :method => :delete do %>
  <%= submit "Delete Profile" %>
<% end =%>