<%= form_for @user, :action => resource(:users) do %>
<fieldset>
  <legend>Sign Up</legend>
<p>
  <%= text_field :username, :label => "Username" %>
</p>
<p>
  <%= text_field :email, :label => "Email" %>
</p>
<p>
  <%= password_field :password, :label => "Password" %>
</p>
<p>
  <%= password_field :password_confirmation, :label => "Password Confirmation" %>
</p>
<p>
  <%= submit "Sign up", :class => "button" %>
</p>
</fieldset>
<% end =%>