<h1>Search Results</h1>
<ul>
<% @comics.each do |c| %>
  <li><%=link_to c.title, resource(c) %></li>
<% end %>
</ul>

<% unless @wikipedia_results.empty? %>
  <h2>Wikipedia Results</h2>
  <ul>
    <% @wikipedia_results.each do |r| %>
      <li>
        <%= form_for Comic.new, :action => resource(:comics) do %>
          <%= hidden_field :name => :wiki_page, :value => true %>
          <%= hidden_field :url, :value => pretty_url(r) %>
          <%= hidden_field :title, :value => r %>
          <%= submit "create profile for '#{r}'" %>
        <% end =%>
      </li>
    <% end %>
  </ul>
<% end %>

