<h1><%= @comic.title %></h1>

<%= @comic.description %>

<h2>Comments</h2>
<%= partial "comments/listing", :comments => @comments %>

<%= form_for @comment, :action => resource(@comic, :comments)  do %>
<fieldset>
  <legend>Add Your Comment</legend>
<fieldset>
  <legend>Rating</legend>
  <input type="radio" class="star" name="rating" value="1" id="rating1"/>
  <input type="radio" class="star" name="rating" value="2" id="rating2"/>
  <input type="radio" class="star" name="rating" value="3" id="rating3"/>
  <input type="radio" class="star" name="rating" value="4" id="rating4"/>
  <input type="radio" class="star" name="rating" value="5" id="rating5"/>
  <br />    
</fieldset>
<p>
  <%= text_area :body, :label => "Comment" %>
</p>
<p>
  <%= submit "Create", :class => "button" %>
</p>
</fieldset>
<% end =%>

<% throw_content :for_sidebar do %>
  <h2>Tags</h2>
  <%= tag_links_for @comic %>

  <%= form_for @comic, :action => resource(@comic) do %>
  <%= text_field :new_tag, :class => "span-4" %>
  <%= submit "Add Tag", :class => "button inline" %>
  <% end =%>
<% end %>



