<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Comic Review</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print">  
    <link rel="stylesheet" href="/stylesheets/plugins/buttons/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/stylesheets/plugins/tabs/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/stylesheets/jquery.rating.css" type="text/css" media="screen, projection">       
          
    <!--[if IE]><link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->
  </head>
  <body>
    <div class="container">
      <div id="header" class="span-18">
        <h1 id="comic_review"><%= link_to "Comic Review", url(:homepage) %></h1>
      </div>
      
      <%= form :action => resource(:comics), :method => :get do %>
        <div class="span-4">
        <%= text_field :name, :class => "span-4 top-25" %>
        </div>
        <div class="span-2 last">
          <%= submit "Search", :class => "button positive top-20" %>
        </div>
      <% end =%>
      
       <% unless message[:success].blank? %>
         <p class="feedback success"><%= message[:success] %></p>
       <% end %>

       <% unless  message[:notice].blank?  %>
         <p class="feedback notice"><%= message[:notice] %></p>
       <% end %>

       <% unless  message[:error].blank?  %>
         <p class="feedback error"><%= message[:error] %></p>
       <% end %>
       
      <div id="subnav" class="span-24 last">
        <ul class='tabs'>
          <li><%= link_to "Home", url(:homepage), :class => tab_selected?(url(:homepage)) %></li>
          <li><%= link_to "Comics", resource(:comics), :class => tab_selected?(resource(:comics)) %></li>
        </ul>
      </div>
      
      <div class="span-17 colborder" id="content"> 
      <%= catch_content :for_layout %>
      </div>  
      
      <div class="span-6 last" id="sidebar">  
        <div class="box">
          <% if session.user %>  
            <h3>Hi <%= session.user.username %>!</h3>
            <p><%= link_to "View Profile", resource(session.user) %></p>
            <p><%= link_to "Edit Profile", resource(session.user, :edit) %></p>
            <p><%= link_to "Logout", url(:logout) %></p>
          <% else %>
            <p><%= link_to "Login", url(:login) %> or</p>
            <p><%= link_to "Sign Up!", url(:signup) %></p>
          <% end %>
        </div>
      </div>
    </div>
    
    <%= js_include_tag 'jquery.js', 'jquery.humanize.js', 'jquery.MetaData.js', 'jquery.rating.pack.js', 'application.js', :bundle => true %>
    
  </body>
</html>